<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Nội dung đầu trang có thể để trống -->
</head>
<body>
    <footer>
        <div class="footer-content">
            <div class="footer-left">
                <h4>ABOUT</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>

            <div class="footer-right">
                <div>
                    <h4>QUICK LINKS</h4>
                    <ul>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Join us</a></li>
                        <li><a href="#">Ethics</a></li>
                        <li><a href="#">Goals</a></li>
                    </ul>
                </div>
                <div>
                    <h4>SUPPORT</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
                <div>
                    <h4>CONNECT WITH US</h4>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
